<!-- NOTA: utilice helper para simplificar el código de esta sección -->


<h2><a href="/user">Usuarios</a></h2>

<form class="form" action="/user" method="post">
  <div class="form-group">
    <label for="title"></label>
    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="enter user"> 
      <input type="password" class="form-control" id="password" name="password" placeholder="enter a paswwor"> 
      <div class ="form-group"></div>
      <label>ROL</label>
    <select class="form-control"> 
      <option>visitante</option>
          <option>administrador</option>
      
      
      </select>
      <input type="text" class="form-control" id="rol" name="rol" placeholder="rol"> 
  
    </div>
  <button type="submit" class="btn btn-default success">Create</button>
    
    
</form>
<a href ="/user"><button type="submit" class="btn btn-default success" >Menu</button></a>
<form  class="form" action="/user" method="post">


</form>